/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }

body { 
	margin: 0; 
	font-family: Roboto, "Helvetica Neue", sans-serif; 
	background-color:lightblue;
}

body h2#headline {
	color:red;
	text-align:center;
	font-size:50px;
	padding:20px;
	font-family: 'Ubuntu Mono', monospace;
}
